#alignment {
    margin-top: 50px;
    background-color: rgb(177, 225, 236);
}

.cart-box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    width: 900px;
  }

  .cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
    margin-top: 30px;
    background-color: rgb(235, 235, 143);
  }

  #price {
      margin-left: 110px;
  }

  #select {
      height: 50px;
      color: rgb(24, 26, 23);
      font-weight: 600;
  }

.news {
    /* display: flex; */
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
    margin-top: 50px;
    background-color: rgb(235, 235, 143);
  }

  #search-bar {
    margin-top: 30px;
  }

#list {
  display: flex;
  align-items: flex-stretch;
}

#ptag {
  margin-left: 30px;
}
#button {
  float: right;
  background-color: rgb(181, 196, 146);
}
