#results {
    background-color: rgb(241, 223, 200);
    margin-top:55px;
    height: fit-content;
}

#list{
    list-style-type: none;
}

#form {
    position: fixed;
    margin-top: 15px;
}

#search {
    text-align: center;
}

#ptag {
    margin-top: 9px;
}